{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <title>LITReview</title>
    </head>
    <body>
        <header>
            <h1 id='title'><a href="/">LITReview</a></h1>
            {% if user.is_authenticated %}
            <nav id='menu'>
                <ul>
                    <li><a href="/">Flux</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'subscriptions' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout'%}">Se déconnecter</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
