{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <title>LITReview</title>
    </head>
    <body>
        <header>
            <h1 class='logo'><a class='logo__link' href="/">LITReview</a></h1>
            {% if user.is_authenticated %}
            <nav class='menu'>
                <ul class='menu__list'>
                    <li><a class='menu__link' href="/">Flux</a></li>
                    <li><a class='menu__link' href="{% url 'posts' %}">Posts</a></li>
                    <li><a class='menu__link' href="{% url 'subscriptions' %}">Abonnements</a></li>
                    <li><a class='menu__link' href="{% url 'logout'%}">Se déconnecter</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
