{% extends 'base.html' %}

{% block content%}
<section class='flux-header'>
    <a href="{% url 'create_ticket' %}"><button class='btn flux-header-btn'>Demander une critique</button></a>
    <a href="{% url 'create_review' %}"><button class='btn flux-header-btn'>Créer une critique</button></a>
</section>

<section>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'reviews/ticket_snippet.html' with ticket=post create_review=True %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'reviews/review_snippet.html' with review=post ticket=post.ticket %}
        {% endif %}
    {% endfor %}
</section>
{% endblock %}
