{% extends "base.html" %}

{% block content %}
    <section>
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="forms">
                <div>{{ form }}</div> 
                <input class='btn' type="submit" value="Suivre">
            </div>
        </form>
    </section>

    <section>
        <h2>Abonnements</h2>
        <ul>
            {% for sub in subscriptions %}
                <li>{{ sub.user }}</li>
            <a href="{% url 'delete_subscription' sub.id %}"><button class='btn signup-submit-btn' type='button'>Désabonner</button></a>
            {% empty %}
                <p>Aucun abonnement</p>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Abonnés</h2>
        <ul>
            {% for user in subscribers %}
                <li>{{ user }}</li>
            {% empty %}
                <p>Aucun abonné</p>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
