{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="forms">
                <div>{{ form }}</div> 
                <input type="submit" value="Suivre">
            </div>
        </form>
    </div>

    <div>
        <h2>Abonnements</h2>
        <ul>
            {% for user in subscriptions %}
                <li>{{ user }}</li>
            {% empty %}
                <p>Aucun abonnement</p>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Abonnés</h2>
        <ul>
            {% for user in subscribers %}
                <li>{{ user }}</li>
            {% empty %}
                <p>Aucun abonné</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
