{% extends 'base.html' %}

{% block content%}
<section>
    <h2 class='title'>Créer une critique</h2>
    <div class='create-review'>
        <p>Vous êtes en train de poster en réponse à {{ ticket.user }}</p>
        <div class='post create-review-ticket'>
            <div class='post__date'>
                <p>{{ ticket.user }} a demandé une critique</p>
                <p>{{ ticket.time_created }}</p>
            </div>
            <h3 class='post__title'>{{ ticket.title }}</h3>
            <div class='post__detail'>
                <p class='post__description'>{{ ticket.description }}</p>
                {% if ticket.image.url is not None %}
                <p class='post__image'><img src='{{ ticket.image.url }}'></p>
                {% endif %}
            </div>
        </div>
        <form class='create-review-form' action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <p style='text-align: right'><input class='btn form-btn' type="submit" value="Envoyer"></p>
        </form>
    </div>
</section>
{% endblock %}
