<div class='post'>
    <div class='post-date'>
        <p>Vous avez publié une review</p>
        <p>{{ review.time_created }}</p>
    </div>
    <h3 class='post-title'>{{ review.headline }} - {{ review.rating }}</h3>
    <div>
        <p class='post-description'>{{ review.body }}</p>
        {% include 'reviews/ticket_snippet.html' %}
    </div>
        {% if edit_review %}
            <div class='post-footer'>
                <a href="{% url 'update_review' review.id %}"><button class='btn post-btn'>Modifier</button></a>
                <a href="{% url 'delete_review' review.id %}"><button class='btn post-btn'>Supprimer</button></a>
            </div>
        {% endif %}
</div>
