<div class='post'>
    <div class='post-date'>
        {% if ticket.user.username == user.username %}
            <p>Vous avez demandé une critique</p>
        {% else %}
        <p>{{ ticket.user }} a demandé une critique</p>
        {% endif %}
        <p>{{ ticket.time_created }}</p>
    </div>
    <h3 class='post-title'>{{ ticket.title }}</h3>
    <div class='post-detail'>
        <p class='post-description'>{{ ticket.description }}</p>
        {% if ticket.image.url is not None %}
            <p class='post-image'><img src='{{ ticket.image.url }}'></p>
        {% endif %}
    </div>
        {% if edit_ticket %}
            <hr>
            <div class='post-footer'>
                <a href='#'><button class='btn post-btn'>Modifier</button></a>
                <a href='#'><button class='btn post-btn'>Supprimer</button></a>
            </div>
        {% elif create_review and not ticket.has_review %}
            <hr>
            <div class='post-footer'>
                <a href="{% url 'create_review_selected_ticket' ticket.id %}"><button class='btn create-review-btn'>Créer une critique</button></a>
            </div>
        {% endif %}
</div>
